.subject{
    font-weight: 400;
    color: var(--c-main-gray);
    font-size: var(--fs-standard);
}

.title{
    font-weight: 600;
    color: var(--c-black);
    font-size: var(--fs-heading-small);
}

.wrapper input[type = text], .wrapper input[type = password]{
    font-size: var(--fs-standard-large);
    font-family: var(--font-heading);
    background: none;
    border: none;
    border-bottom: 3.5px solid var(--c-main-gray);
}

.wrapper input[type = text]:focus, .wrapper input[type = password]:focus{
    outline: none;
}

@media screen and (max-width:450px){
    .wrapper{
        max-width: 95%;
    }
    .wrapper input[type=text]{
        max-width: 100%;
    }
    .subject{
        font-size: var(--fs-standard);
    }

    .title{
        font-size: var(--fs-heading-small);
    }
}