.wrapper{
    grid-area: deck;
    position: relative;
    width: 450px;
    height: 550px;
    box-shadow: var(--box-shadow-card);
    border-radius: var(--border-card-radius);
    background-color: var(--c-white);
}


.wrapperFlip{
    perspective: 1100px;
    transform-style: preserve-3d;
}

.front, .back{
    position: absolute;
    padding: var(--p-card-thick);
    border-radius: var(--border-card-radius);
    background-color: var(--c-white);
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.back{
    transform: rotateY(180deg);
}