.wrapper{
    width: fit-content;
    margin: auto;
}

.gridTitle{
    font-family: var(--font-heading);
    font-size: var(--fs-heading);
    color: var(--c-dark-gray);
    user-select: none;
    font-weight: 600;
    margin-bottom: 15px;
    padding-left: 15px;
}

.gridWrapper{
    display: grid;
    gap: 45px;
    grid-template-columns: var(--deck-tile-width) var(--deck-tile-width) var(--deck-tile-width);
}

@media screen and (max-width:1050px){
    .gridWrapper{
        grid-template-columns: var(--deck-tile-width) var(--deck-tile-width)
    }
}

@media screen and (max-width:725px){
    .gridWrapper{
        grid-template-columns: var(--deck-tile-width)
    }
}