.wrapper{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    grid-template-areas: "deck";
}