.wrapper{
    padding: var(--p-card-thick);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.descriptionTitle {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: var(--fs-standard);
    color: var(--c-main-gray);
    user-select: none;
}

.dataWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description{
    font-family: var(--font-body);
    font-size: var(--fs-standard-large);
    color: var(--c-black);
    user-select: none;
}

.practiceBtn{
    width: fit-content;
    align-self: center;
    margin-top: 5px;
    user-select: none;
}

.commentIconWrapper{
    align-self: flex-end;
}

.commentIconWrapper:hover{
    cursor: pointer;
}