.wrapper{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    grid-template-areas: "deck";
}

.counter{
    position: absolute;
    font-size: var(--fs-standard-large);
    font-weight: 400;
    color: var(--c-dark-gray);
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.counter h3:first-child{
    padding-bottom: 5px;
}

.correct{
    color: var(--c-logo-accent);
}
.incorrect{
    color: var(--c-light-red);
}

