.wrapper{
    position: relative;
    margin: auto;
    padding-top: 125px;
    padding-bottom: 125px;
}

.DeckTileClickWrapper{
    width: fit-content;
    height: fit-content;
}

.deckTileWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteBtn{
    display: block;
    margin: auto;
    margin-top: 75px;
    background-color: var(--c-achievement-orange);
}

.deleteBtn:hover{
    background-color: var(--c-light-red);
}

.deleteBtn:active{
    background-color: var(--c-light-red);
}