@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --c-black: #000000;
    --c-dark-gray: #424242;
    --c-dark-gray-opaque: rgba(66, 66, 66,.5);
    --c-main-gray: #c0c0c0;
    --c-light-gray: #e9e9e9;
    --c-off-white: #FBFBFB;
    --c-white: #FFFFFF;
    --c-logo-accent: #5EF26D;

    --c-achievement-orange: #F2A55E;
    --c-achievement-green: #5EF26D;
    --c-achievement-blue: #20BCFF;

    --fs-standard-small: .8rem;
    --fs-standard: 1rem;
    --fs-standard-large: 1.25rem;

    --fs-heading-small: 1.536rem;
    --fs-heading: 1.935rem;
    --fs-heading-large: 2.441rem;

    --fs-hero-small: 3.052rem;
    --fs-hero: 3.815rem;
    --fs-hero-large: 4.768rem;

    --border-card-radius: 20px;
    --border-button-radius: 10px;

    --font-heading: 'Inter'
    --font-button: 'Inter';
    --font-body: 'Open Sans';
    
    --box-shadow-card: 2px 4px 12px rgba(0, 0, 0, .10);

    --p-card-lr: 50px;
    --p-card-tb: 50px; 
    --p-card-full: 25px 50px;
    --p-card-thick: 50px 50px;
    --p-card-full-mobile: 25px 25px;
    --p-card-tile: 30px 30px;
    --p-button-standard: 15px 45px;
    --p-heading: 50px;


    --z-index-toast: 100;
    --z-index-menu: 50;
    --z-index-header: 60;
    --z-index-modal: 75;

    --deck-tile-width: 300px;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--c-off-white);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Inter';
}

p{
    font-family: 'Open Sans',sans-serif;
}

button{
    color: var(--c-white);
    background-color: var(--c-black);
    border-radius: var(--border-button-radius);
    padding: var(--p-button-standard);
    font-family: var(--font-button);
    font-size: var(--fs-standard-large);
    border: none;
    transition: all .2s ease-in-out;
}

button:hover{
    cursor: pointer;
    background-color: var(--c-logo-accent);
    transform: scale(1.05);
}

button:active{
    cursor: pointer;
    background-color: var(--c-main-gray);
    transform: scale(.95);
}