@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --c-black: #000000;
    --c-main-gray: #c0c0c0;
    --c-off-white: #FBFBFB;
    --c-white: #FFFFFF;
    --c-logo-accent: #5EF26D;

    --fs-standard-small: .8rem;
    --fs-standard: 1rem;
    --fs-standard-large: 1.25rem;

    --fs-heading-small: 1.536rem;
    --fs-heading: 1.935;
    --fs-heading-large: 2.441rem;

    --fs-hero-small: 3.052rem;
    --fs-hero: 3.815rem;
    --fs-hero-large: 4.768rem;

    --border-card-radius: 20px;
    --border-button-radius: 10px;

    --font-button: 'Inter';
    --font-body: 'Open Sans';
    
    --box-shadow-card: 2px 4px 12px rgba(0, 0, 0, .10);

    --p-card-lr: 50px;
    --p-card-tb: 50px; 
    --p-button-standard: 15px 45px;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--c-off-white);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Inter';
}

p{
    font-family: 'Open Sans',sans-serif;
}