.wrapper{
    --slice-bottom-spacing: 65px;
}

.headWrapper, .bulletinBoardWrapper, .discussionsWrapper{
    width: var(--constrain-standard-width);
    margin: auto;
    margin-bottom: var(--slice-bottom-spacing);
}


.headingImage img{
    display: block;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin: auto;
}

.imageTitleBlock{
    display: flex;
    align-items: center;
    gap:15px;
}

.headWrapper{
    padding-top: 150px;

    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addGroupBtn{
    fill: var(--c-achievement-green);
    transition: transform .2s ease-in-out;
}
.addGroupBtn:hover{
    cursor: pointer;
    transform: scale(1.15);
}
.addGroupBtn:active{
    transform: scale(.9);
}


.headWrapper h6{
    font-family: var(--font-heading);
    font-weight: 400;
    color: var(--c-main-gray);
    font-size: var(--fs-standard);
}
.headWrapper h1{
    font-family: var(--font-heading);
    font-weight: 500;
    color: var(--c-dark-gray);
    font-size: var(--fs-heading-large);
}