.heading{
    color: var(--c-dark-gray);
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: var(--fs-heading);
}

.discussionWrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.discussionWrapper:hover{
    cursor: pointer;
}

.discussionWrapper::before{
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    bottom: 0;
    left:0;
    background-color: var(--c-achievement-blue);
    transform: translateY(50%) scaleX(0);
    transition: transform .25s ease-in-out;
}

.discussionWrapper:hover::before{
    transform: translateY(50%) scaleX(1);
}

.discussionWrapper::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left:50%;
    background-color: var(--c-main-gray);
    opacity: .3;
    transform: translate(-50%, -50%);
}

.discussionWrapper:last-of-type::after{
    content: none;
}

.discussionMetaData h4{
    font-weight: 400;
    font-size: var(--fs-heading-small);
}

.discussionMetaData h6{
    font-weight: 400;
    font-size: var(--fs-standard-small);
}


.commentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commentWrapper p{
    font-weight: 400;
    color: var(--c-dark-gray);
    font-size: var(--fs-standard-small);
}

.wrapper button{
    display: block;
    margin: auto;
    background-color: var(--c-dark-gray);
    margin-top: 30px;
}


.authorUsername{
    width: fit-content;
    color: var(--c-main-gray);
    transition: color .2s ease-in-out;
}

.authorUsername:hover{
    color: var(--c-achievement-blue);
}
