.logInLink{
    position: fixed;
    text-decoration: none;
    /*background-color: var(--c-off-white); Consider what link overlay should look like*/
    font-size: var(--fs-standard-large);
    font-weight: 600;
    position: fixed;
    top:50px;
    right:7%;
    color: var(--c-black);
}

.heroSlice{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cardsSlice{
    display: flex;
    flex-direction: column;
    gap: 75px;
    margin-bottom: 75px;
}

@media screen and (max-width:850px) {
    .logInLink{
        top: 37px;
    }
    .cardsSlice{
        display: block;
        margin-bottom: 0;
    }
}