.wrapper{
    border-radius: var(--border-card-radius);
    box-shadow: 2px 4px 12px rgba(0, 0, 0, .10);
    width: fit-content;
    max-width: 95vw;
    padding: var(--p-card-tb) var(--p-card-lr);
}

.subject{
    font-size: var(--fs-standard);
    color: var(--c-main-gray);
}

.title{
    font-size: var(--fs-heading-large);
    margin-bottom: 25px;
}

.body{
    display: flex;
    flex-direction: column;
    gap:20px;
    max-width: 50ch;
    font-size: var(--fs-standard);
    font-family: var(--font-body);
    margin-bottom: 15px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}