.wrapper{
    display: flex;
    padding: 15px;
    max-width: 100%;
}

.accentLineWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.LandingCardWrapper{
    display: flex;
    width:50vw;
    align-items: center;
}

.accentLine{
    height: 3px;
    opacity: .3;
    width: 65%;
    background-color: var(--c-main-gray);
}

@media screen and (max-width:850px) {
    .wrapper{
        position: relative;
        display: block;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        width: fit-content;
    }
    .LandingCardWrapper{
        width: fit-content;
    }
    .accentLineWrapper{
        position: absolute;
        width: 80%;
        top:0;
        left:50%;
        transform: translate(-50%, -50%);
    }
}