.wrapper{
    display: flex;
    max-width: 100%;
}

.accentLineWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.LandingCardWrapper{
    display: flex;
    width:50vw;
    align-items: center;
}

.accentLine{
    height: 3px;
    width: 65%;
    background-color: var(--c-main-gray);
}

@media screen and (max-width:850px) {
    .wrapper{
        display: block;
        width: fit-content;
    }
    .LandingCardWrapper{
        width: fit-content;
    }
    .accentLineWrapper{
        display: none;
    }
}