.logInLink{
    text-decoration: none;
    font-weight: 600;
    position: fixed;
    top:7%;
    right:7%;
    color: var(--c-black);
}

.heroSlice{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.cardsSlice{
    display: flex;
    flex-direction: column;
    gap: 75px;
    margin-bottom: 75px;
}