.cardWrapper{
    padding: var(--p-card-thick);
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    gap:15px;
    flex-direction: column;
}

.cardWrapper form{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.deckTop{
    display: flex;
    justify-content: space-between;

}
.trash{
    width: fit-content;
    height: fit-content;
}
.textArea {
    height: 115px;
}

.saveBtn{
    display: block;
    margin: auto;
    background-color: var(--c-dark-gray);
}