.wrapper{
    display: flex;
    max-width: 95vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--p-card-full);
    box-shadow: var(--box-shadow-card);
    border-radius: var(--border-card-radius);
}

.formWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
    margin-bottom: 25px;
}

@media screen and (max-width:500px){
    .wrapper{
        padding: var(--p-card-full-mobile);
    }
    .formWrapper{
        max-width: 100%;
    }
}