.wrapper{
    font-family: var(--font-button);
    padding: 15px 45px;
    color: var(--c-white);
    background: var(--c-black);
    border-radius: var(--border-button-radius);
    text-decoration: none;
}
