.wrapper{
    font-family: var(--font-button);
    padding: var(--p-button-standard);
    color: var(--c-white);
    background: var(--c-black);
    border-radius: var(--border-button-radius);
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.wrapper:hover{
    background-color: var(--c-logo-accent);
    transform: scale(1.05);
}

.wrapper:active{
    background-color: var(--c-main-gray);
    transform: scale(.95);
}